# Exercícios

1. Crie um dataframe de tax_data_2016.csv que usa apenas as colunas específicas necessárias para ver se há diferenças por geografia e nível de renda na composição familiar.
Para fazer isso, selecione as colunas sobre grupo de renda, são elas: CEP (zipcode), status de declaração de imposto de renda (coluna mars1 para solteiro e MARS2 para casado), e  NUMDEP (número de dependentes).

In [9]:
import pandas as pd


df = pd.read_csv('data/us_tax_data_2016.csv',usecols= ['zipcode', 'mars1', 'MARS2', 'NUMDEP'])
df.columns = ['zipcode', 'single', 'married', 'dependents']

print(df.head())

   zipcode  single  married  dependents
0        0  477700   105350      491310
1        0  211930   142340      360480
2        0   83420   137870      182880
3        0   29420   124060      130160
4        0   20240   188080      195990

2. Obtenha as primeiras 500 linhas em um dataframe chamado primeiras500. 
Em seguida obtenha as próximas 500 linhas em um dataframe proximas500. 

Para fazer isso, use os argumentos ``nrows`` e  ``skiprows`` para obter os registros corretos, 
``header`` para informar aos pandas que os dados não têm nomes de colunas e ``names`` para fornecer os nomes de colunas ausentes. 
    
Depois, nomeie as colunas em proximos500 fornecendo uma lista de colunas de primeiros500 para o argumento ``names``.
Use a função list() para obter nomes de coluna de primeiros500.

In [40]:
import pandas as pd


primeiras500 = pd.read_csv('data/us_tax_data_2016.csv',  nrows=500, skiprows=0)
proximas500 = pd.read_csv('data/us_tax_data_2016.csv', header=None, nrows=500, skiprows=500, names=list(primeiras500))

print(primeiras500.head())
print(proximas500.head())

   STATEFIPS STATE  zipcode  agi_stub      N1   mars1   MARS2   MARS4    PREP  \
0          1    AL        0         1  815440  477700  105350  221200  440830
1          1    AL        0         2  495830  211930  142340  128890  272440
2          1    AL        0         3  263390   83420  137870   36340  154880
3          1    AL        0         4  167190   29420  124060   10610   99700
4          1    AL        0         5  217440   20240  188080    4880  129410

        N2  ...  N10300   A10300  N85530  A85530  N85300  A85300  N11901  \
0  1296920  ...  367320   330066       0       0       0       0   63420
1   996240  ...  398050   984297       0       0       0       0   74090
2   584000  ...  253180  1349246       0       0       0       0   64000
3   421720  ...  165830  1425430       0       0       0       0   45020
4   601040  ...  216720  3922449     390     155      60      19   82940

   A11901  N11902   A11902
0   51444  711580  1831661
1  110889  416090  1173463
2  143060  195130   543284
3  128920  117410   381329
4  423629  126130   506526

[5 rows x 147 columns]
   STATEFIPS STATE  zipcode  agi_stub   N1  mars1  MARS2  MARS4  PREP   N2  \
0          1    AL    35178         2  390    150    120    100   200  760
1          1    AL    35178         3  230     60    120     50   140  540
2          1    AL    35178         4  120     30     90      0    80  280
3          1    AL    35178         5  110      0     90      0    80  280
4          1    AL    35178         6   20      0     20      0     0   50

   ...  N10300  A10300  N85530  A85530  N85300  A85300  N11901  A11901  \
0  ...     320     728       0       0       0       0      50      64
1  ...     220    1052       0       0       0       0      50     110
2  ...     110     931       0       0       0       0      40      62
3  ...     110    1829       0       0       0       0      50     420
4  ...      20    1551       0       0       0       0       0       0

   N11902  A11902
0     330     926
1     170     508
2      80     274
3      70     295
4       0       0

[5 rows x 147 columns]

In [ ]:
3. Carregue o arquivo tax_data_2016.csv, visualize o atributo dtypes do dataframe e observe os tipos de dados de CEP e agi_stub.

In [42]:
import pandas as pd

# Carregar o arquivo CSV
df = pd.read_csv("data/us_tax_data_2016.csv")

# Visualizar os tipos de dados de cada coluna
print(df.dtypes)

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

4. Você deve ter observado que a coluna agi_stub contém números que correspondem a categorias de renda, e CEP tem valores de 5 dígitos que devem ser strings 
-- tratá-los como inteiros significa que perdemos 0s iniciais, que são significativos. 

Defina os tipos de dados corretos criando um dicionario chamado null_values, especificando que 0s na coluna CEP devem ser considerados valores NA.

Depois, carregue tax_data_2016.csv, usando o argumento na_values e o dicionário para garantir que CEPs inválidos sejam tratados como ausentes.

In [45]:
import pandas as pd

# Definir dicionário de valores nulos
null_values = {
    'zipcode': ['00000'],
}

# Carregar o arquivo CSV
df = pd.read_csv("data/us_tax_data_2016.csv", na_values=null_values)

# Definir tipos de dados corretos
df = df.astype({
    'zipcode': 'str',  # Converter CEP para string
    'agi_stub': 'int',  # Converter agi_stub para inteiro
})

# Verificar tipos de dados
print(df.dtypes)
print(df)

STATEFIPS     int64
STATE        object
zipcode      object
agi_stub      int32
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object
        STATEFIPS STATE zipcode  agi_stub      N1   mars1   MARS2   MARS4  \
0               1    AL       0         1  815440  477700  105350  221200
1               1    AL       0         2  495830  211930  142340  128890
2               1    AL       0         3  263390   83420  137870   36340
3               1    AL       0         4  167190   29420  124060   10610
4               1    AL       0         5  217440   20240  188080    4880
...           ...   ...     ...       ...     ...     ...     ...     ...
179791         56    WY   99999         2    2020    1100     620     260
179792         56    WY   99999         3    1330     570     630     130
179793         56    WY   99999         4     910     280     580      60
179794         56    WY   99999         5    1270     240    1010      40
179795         56    WY   99999         6     390      90     330       0

          PREP       N2  ...  N10300   A10300  N85530  A85530  N85300  A85300  \
0       440830  1296920  ...  367320   330066       0       0       0       0
1       272440   996240  ...  398050   984297       0       0       0       0
2       154880   584000  ...  253180  1349246       0       0       0       0
3        99700   421720  ...  165830  1425430       0       0       0       0
4       129410   601040  ...  216720  3922449     390     155      60      19
...        ...      ...  ...     ...      ...     ...     ...     ...     ...
179791    1140     3670  ...    1740     5088       0       0       0       0
179792     820     2720  ...    1280     7819       0       0       0       0
179793     640     2070  ...     890     8850       0       0       0       0
179794     950     3170  ...    1260    24173       0       0       0       0
179795     380      970  ...     390    71985      90     136     260    1982

        N11901  A11901  N11902   A11902
0        63420   51444  711580  1831661
1        74090  110889  416090  1173463
2        64000  143060  195130   543284
3        45020  128920  117410   381329
4        82940  423629  126130   506526
...        ...     ...     ...      ...
179791     290     489    1610     4057
179792     280     574     940     2625
179793     210     740     610     2195
179794     410    2520     680     3690
179795     180    6420      80    14096

[179796 rows x 147 columns]

5. Leia o arquivo fcc_survey.xlsx, atribua-o à variável survey_responses e imprima os primeiros registros de survey_responses.

In [2]:
import pandas as pd

# Ler o arquivo Excel e atribuir a variável
survey_responses = pd.read_excel("data/fcc_survey.xlsx", nrows=500)

# Imprimir os primeiros registros
print(survey_responses.head())

    Age  AttendedBootcamp  BootcampFinish  BootcampFullJobAfter  \
0  28.0               0.0             NaN                   NaN
1  22.0               0.0             NaN                   NaN
2  19.0               0.0             NaN                   NaN
3  26.0               0.0             NaN                   NaN
4  20.0               0.0             NaN                   NaN

   BootcampLoanYesNo  BootcampMonthsAgo BootcampName  BootcampPostSalary  \
0                NaN                NaN          NaN                 NaN
1                NaN                NaN          NaN                 NaN
2                NaN                NaN          NaN                 NaN
3                NaN                NaN          NaN                 NaN
4                NaN                NaN          NaN                 NaN

   BootcampRecommend  ChildrenNumber  ... ResourceSoloLearn  \
0                NaN             NaN  ...               NaN
1                NaN             NaN  ...               NaN
2                NaN             NaN  ...               NaN
3                NaN             NaN  ...               NaN
4                NaN             NaN  ...               NaN

   ResourceStackOverflow  ResourceTreehouse  ResourceUdacity  ResourceUdemy  \
0                    NaN                NaN              NaN            NaN
1                    NaN                NaN              NaN            1.0
2                    NaN                NaN              NaN            NaN
3                    NaN                NaN              NaN            NaN
4                    NaN                NaN              NaN            NaN

   ResourceW3Schools  ResourceYouTube  \
0                NaN              NaN
1                NaN              NaN
2                NaN              NaN
3                NaN              NaN
4                NaN              NaN

                              SchoolDegree              SchoolMajor  \
0           some college credit, no degree                      NaN
1           some college credit, no degree                      NaN
2  high school diploma or equivalent (GED)                      NaN
3                        bachelor's degree  Cinematography And Film
4           some college credit, no degree                      NaN

   StudentDebtOwe
0         20000.0
1             NaN
2             NaN
3          7000.0
4             NaN

[5 rows x 113 columns]

6. Crie uma string chamada col_string, especificando que os pandas devem carregar a coluna AD e o intervalo AW até BA.
Carregue fcc_survey.xlsx, definindo ``skiprows`` e ``usecols`` para ignorar as duas primeiras linhas e obter apenas as colunas em col_string.
Visualize os nomes das colunas selecionadas no dataframe resultante.

In [3]:
import pandas as pd


df = pd.read_excel('data/fcc_survey.xlsx', skiprows=2, usecols='AD, AW:BA')

print(df.columns)

Index(['United States of America.1', 15000, '0.4', '0.5', '0.6', '1.1'], dtype='object')